body{font-family: "Sen", sans-serif;}
.t1{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: rgb(234, 198, 20);
    background-color: rgb(82, 212, 82);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.im2{
    text-align: center;
}

